body {
        background-color: lightblue;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    background-color: rgb(129, 129, 192);
}

h2 {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

img {
    max-width: 100%;
}